<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gohb.mapper.UserAddrMapper">
  <resultMap id="BaseResultMap" type="com.gohb.domain.UserAddr">
    <!--@mbg.generated-->
    <!--@Table user_addr-->
    <id column="addr_id" jdbcType="BIGINT" property="addrId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="receiver" jdbcType="VARCHAR" property="receiver" />
    <result column="province_id" jdbcType="BIGINT" property="provinceId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="city_id" jdbcType="BIGINT" property="cityId" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="area_id" jdbcType="BIGINT" property="areaId" />
    <result column="post_code" jdbcType="VARCHAR" property="postCode" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="common_addr" jdbcType="INTEGER" property="commonAddr" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    addr_id, user_id, receiver, province_id, province, city, city_id, area, area_id, 
    post_code, addr, mobile, `status`, common_addr, create_time, version, update_time
  </sql>
</mapper>