<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gohb.mapper.UserCollectionMapper">
  <resultMap id="BaseResultMap" type="com.gohb.domain.UserCollection">
    <!--@mbg.generated-->
    <!--@Table user_collection-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="prod_id" jdbcType="BIGINT" property="prodId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, prod_id, user_id, create_time
  </sql>
</mapper>